.navbar .megamenu{ padding: 1rem; }
.megasubmenu{ padding:1rem; }

.title{
    text-decoration: none;
    color: $naranja-fuerte;
    font-weight: bold;
}
.title:hover, .title:active{
    color: $gris-oscuro;
}
.link-producto{
    color: $gris-claro;
    text-decoration: none;
}
.link-producto:hover, .link-producto:active{
    color: $naranja-claro;
}

.dropdown-subcategoria:hover, .dropdown-subcategoria:focus, .dropdown-subcategoria:active, .dropdown-subcategoria.active{
    background-color: $naranja-claro;
}

.linkprincipal-mobile{
    color: white;
    text-decoration: none;
}

.linkprincipal-mobile:hover{
    color: $naranja-claro;
}

.megamenu-mobile, .megamenu-mobile:hover{
    color: $naranja-claro;
    text-decoration: none;
}

.megamenu-mobile.collapsed{
    transform: rotate(180deg);
    color: white;
}

.submegamenu-mobile, .submegamenu-mobile:hover{
    color: $gris-oscuro;
    text-decoration: none;
}

.submegamenu-mobile.collapsed{
    transform: rotate(180deg);
    color: $naranja-fuerte;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu{
        position:static!important;
    }
    .navbar .megamenu{
        left:0; right:0; width:100%; margin-top:0;
    }
    .navbar .nav-item .dropdown-menu{ 
        display: none; 
    }
    .navbar .nav-item .nav-link{
        color: white;
     }
	.navbar .nav-item:hover .nav-link{
        color: $naranja-claro;
        background-color: black;
     }
	.navbar .nav-item:hover .dropdown-menu{
         display: block; 
    }
	.navbar .nav-item .dropdown-menu{
         margin-top:0; 
    }
    #main_nav{
        content-visibility: hidden;
    };
    .megasubmenu{ 
		left:100%; top:0; min-height: 100%; min-width:500px;
	}
	
	.dropdown-menu > li:hover .megasubmenu{
		display: block;
	}

}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }

    .navbar .nav-item:hover .nav-link{
        color: $naranja-claro;
     }
}
/* ============ mobile view .end// ============ */